@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

body {
    margin: 0;
    background: #00bfff;
}

canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#coverLoad {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00bfff;
    z-index: 80;
}

#blocklyDiv {
    height: 100vh;
    width: 100vw;
}

/* Blocklyのワークスペース全体 */
.blocklyWorkspace {
    background-color: #e0e0e0;
    /* 例: 薄いグレー */
}

.title {
    display: block;
    width: 60vw;
    margin: 20vh auto;
}

.parent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    font-family: "Kiwi Maru", serif;
    width: 50vw;
    font-size: 2vw;
    margin: 2vw;
    text-align: center;
    color: white;
    border: 0.2vw white solid;
    transform: skew(-20deg);
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

.option:hover {
    color: #00bfff;
    background-color: white;
}

.load {
    font-family: "Kiwi Maru", serif;
    font-size: 3vw;
    color: white;
    text-align: center;
}

.confirm {
    font-family: "Kiwi Maru", serif;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    margin: auto;
    display: inline-block;
    color: #00bfff;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    text-align: center;
    line-height: 8vw;
    font-size: 2vw;
    border: 0.2vw #00bfff solid;
    z-index: 80;
}

.confirm:hover {
    color: white;
    background: #00bfff;
}

.animation {
    display: flex;
    height: 0vh;
    justify-content: center;
    align-items: center;
    background-color: #00bfff;
    z-index: 100;
    animation-duration: 2s;
    animation-name: matching;
}

.animation_text {
    font-family: "Kiwi Maru", serif;
    color: white;
    text-align: center;
}

@keyframes matching {
    from {
        font-size: 2vw;
        height: 100vh;
    }

    75% {
        font-size: 4vw;
    }

    to {
        font-size: 0vw;
        height: 0vh;
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.instruction {
    font-family: "Kiwi Maru", serif;
    position: absolute;
    top: 1vw;
    right: 1vw;
    color: #00bfff;
    font-size: 2vw;
    z-index: 80;
}

.result {
    font-family: "Kiwi Maru", serif;
    position: absolute;
    top: 50px;
    margin: auto;
    display: inline-block;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #00bfff;
    text-align: center;
    line-height: 200px;
    font-size: 40px;
    border: 4px white solid;
}
